.button {
    background-color: $accent-red;
    color: white;
    text-decoration: none;
    padding: 15px 75px;
    border-radius: 4px;
    display: block;
    width: 290px;
    text-align: center;

    img {
        margin-left: 20px;
        transition: 250ms;
    }

    &:hover > img {
        margin-left: 30px;
    }

}